/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Artifacts */
.tier-1 {
  background-color: #cceaef;
}

.tier-2 {
  background-color: #a4efeb;
}

.tier-3 {
  background-color: #6be8e7;
}

.tier-4 {
  background-color: #3585be;
}

/* Blank Chip */
.blank-chip {
  background-color: #cceaef;
}

/* Buttons */
.btn {
  border-radius: 8px;
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  height: 48px;
  text-align: center;
  margin: 4px 8px;
}

.btn-primary {
  background-color: #0067a1;
}

/* Control Column */
#controls-col h3 {
  text-align: center;
}
